@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aqua: #49cbb8;
  --coral: #ff8364;
  --gold: #e9c46a;
  --cream: #fdfaf3;
  --dark: #1e2d2f;
}

body {
  background: var(--cream);
  color: var(--dark);
}
